

.main{
    background-color: #42a4f4;
    font-weight: bold;
    font-family: arial;
    border-radius: 15px;
    padding-bottom: 40px;
}

.navbar {
    margin-bottom: 0 !important;
    padding: 0;
    margin-left: 100px;
    background-color: #F5F5F5;
}

.padding-fix{
    padding-top: 15px;
    
}

.footer-fix {
    background-color: #F5F5F5;
    font-weight: bold;
    height: 200px;
}


#ppBody
{
    font-size:11pt;
    width:100%;
}
#ppHeader
{
    font-family:verdana;
    font-size:21pt;
    width:100%;
}
.ppConsistencies
{
    display:none;
}


#google-play {
    vertical-align: middle;
}

.w3-button {
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

.mySlides {
    display:none;
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s;
}